<h3 class="content__title">Reportes</h3>

<div class="reportes">

  <div class="options">
    <button class="btn btn__pdf">PDF</button>
    <button class="btn btn__excel">Excel</button>
  </div>

  <div class="table--container">

    <table class="table">
    
      <thead>
        <tr>
          <th>Fecha y Hora</th>
          <th>Tipo</th>
          <th>Descripción</th>
          <th>Coordenadas</th>
          <th>Dirección</th>
          <th>Estado</th>
          <th>Prioridad</th>
          <th>Ciudadano</th>
          <th>Evidencias</th>
          <th>Acciones</th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td>18 de agosto de 2024, 2:35 PM</td>
          <td>Accidente</td>
          <td>Colisión entre dos vehiculos</td>
          <td>19.432608, -99.133209</td>
          <td>Calle 5 de Mayo y Av. Reforma</td>
          <td>En proceso</td>
          <td>Alta</td>
          <td>Juan Perez Ramirez</td>
          <td><a href="">Ver Imagen</a></td>
          <td>
              <a href="">Ver Mapa</a>
              <div class="actions">
                  <a href="" class="edit">
                      <i class='bx bx-edit' ></i>
                  </a>
                  <a href="" class="delete">
                      <i class='bx bx-trash-alt' ></i>
                  </a>
              </div>
          </td>
        </tr>
  
        <tr>
          <td>18 de agosto de 2024, 2:35 PM</td>
          <td>Accidente</td>
          <td>Colisión entre dos vehiculos</td>
          <td>19.432608, -99.133209</td>
          <td>Calle 5 de Mayo y Av. Reforma</td>
          <td>En proceso</td>
          <td>Alta</td>
          <td>Juan Perez Ramirez</td>
          <td><a href="">Ver Imagen</a></td>
          <td><a href="">Ver Mapa</a></td>
        </tr>
      </tbody>
    </table>

  </div>

 
</div>
