<aside class="sidebar">
    <div class="sidebar__top">
        <a href="">Reporte Ciudadano</a>
        <button>
            <i class='bx bx-x' ></i>
        </button>
    </div>
    <div class="sidebar__links">
        <a routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar__link">
            <i class='bx bx-category' ></i>
            <p>Dashboard</p>
        </a>
        <a routerLink="/admin/reportes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  class="sidebar__link">
            <i class='bx bx-file' ></i>
            <p>Reportes</p>
        </a> 
        <a routerLink="/admin/mapa" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  class="sidebar__link">
            <i class='bx bx-map-alt' ></i>
            <p>Mapa</p>
        </a>
        <a href="" class="sidebar__link">
            <i class='bx bx-chat' ></i>
            <p>Mensajes</p>
        </a>
        <a href="" class="sidebar__link">
            <i class='bx bx-user' ></i>
            <p>Perfil</p>
        </a>
        <a href="" class="sidebar__link">
            <i class='bx bx-log-out' ></i>
            <p>Cerrar Sesión</p>
        </a>
    </div>
</aside>