<h3 class="content__title">Mapa</h3>

<div class="mapa__container">
    
    <div class="incidents">

        <div class="filters">
            <input type="text" placeholder="Buscar">
            <div class="form__select">
                <label for="">Filtrar por prioridad</label>
                <select name="" id="">
                    <option value="">--Seleccione la prioridad--</option>
                    <option value="">Alta</option>
                    <option value="">Media</option>
                    <option value="">Baja</option>
                </select>
            </div>
            <!-- <button class="active">Activos</button> -->
            <!-- <button class="">Resueltos</button> -->
        </div>

        <div class="reports__users">

            <div class="report__item">
                <div class="top">
                    <div class="category">
                        <div>
                            <i class="fa-solid fa-fire"></i>
                            Incendio
                        </div>
                        <button><i class='bx bx-edit' ></i></button>
                    </div>
                    <p class="date">18 de agosto de 2024, 2:35 PM</p>
                </div>

                <div class="info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ipsum?</p>
                    <p class="ciudadano"><span>Reportado por:</span> John Doe</p>
                </div>

                <div class="options">
                    <p class="priority high--priority">Alta prioridad</p>
                    <p class="active">Activo</p>
                </div>

            </div>

            <div class="report__item">
                <div class="top">
                    <div class="category">
                        <div>
                            <i class="fa-solid fa-fire"></i>
                            Incendio
                        </div>
                        <button><i class='bx bx-edit' ></i></button>
                    </div>
                    <p class="date">18 de agosto de 2024, 2:35 PM</p>
                </div>

                <div class="info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ipsum?</p>
                    <p class="ciudadano"><span>Reportado por:</span> John Doe</p>
                </div>

                <div class="options">
                    <p class="priority high--priority">Alta prioridad</p>
                    <p class="active">Activo</p>
                </div>

            </div>

            <div class="report__item">
                <div class="top">
                    <div class="category">
                        <div>
                            <i class="fa-solid fa-fire"></i>
                            Incendio
                        </div>
                        <button><i class='bx bx-edit' ></i></button>
                    </div>
                    <p class="date">18 de agosto de 2024, 2:35 PM</p>
                </div>

                <div class="info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ipsum?</p>
                    <p class="ciudadano"><span>Reportado por:</span> John Doe</p>
                </div>

                <div class="options">
                    <p class="priority high--priority">Alta prioridad</p>
                    <p class="active">Activo</p>
                </div>

            </div>

            <div class="report__item">
                <div class="top">
                    <div class="category">
                        <div>
                            <i class="fa-solid fa-fire"></i>
                            Incendio
                        </div>
                        <button><i class='bx bx-edit' ></i></button>
                    </div>
                    <p class="date">18 de agosto de 2024, 2:35 PM</p>
                </div>

                <div class="info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ipsum?</p>
                    <p class="ciudadano"><span>Reportado por:</span> John Doe</p>
                </div>

                <div class="options">
                    <p class="priority high--priority">Alta prioridad</p>
                    <p class="active">Activo</p>
                </div>

            </div>

        </div>

    </div>

    <div class="mapa">

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d63390.59140815782!2d-79.8437963434082!3d-6.780568478682581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1723972483978!5m2!1ses-419!2spe" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
  
</div>
